body{
    background-color: rgb(121, 247, 121);
    
    
}

#join-btn{
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-100px;
    font-size:18px;
    padding:20px 40px;

#video-streams{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    height: 90vh;
    width: 1400px;
    margin:0 auto;
}

.video-container{
    max-height: 100%;
    border: 2px solid rgb(83, 5, 5);
    background-color: #01ccff;
}

.video-player{
    height: 100%;
    width: 100%;
}

a{
    border:none;
    /* background-color: rgb(47, 231, 161); */
    color:#fff;
    padding:10px 20px;
    font-size:25px;
    margin:2px;
    cursor: pointer;
    text-decoration: none;
}
button{
    border:none;
    background-color: rgb(47, 231, 161);
    color:#fff;
    padding:10px 20px;
    font-size:25px;
    margin:2px;
    cursor: pointer;
}

#stream-controls{
    display: none;
    justify-content: center;
    margin-top:0.5em;
}

footer{
    text-align: center;
    background-color: rgb(0, 151, 0);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}
header,#btn{
    background-color: rgb(0, 151, 0);
    padding: 2px;
    text-align: center;
    padding-bottom: 2px;
}

@media screen and (max-width:1400px){
    #video-streams{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 95%;
    }
}
